*{
    font-family: sans-serif;
    font-weight: bolder;
}

body
{
    background:linear-gradient(to left,rgba(116, 73, 73, 0.4),whitesmoke);
}

form
{
    width: 50%;
    height: 70%;
    margin: 4% 25% 10% 25%;
    background: repeating-linear-gradient( whitesmoke,rgb(116, 73, 73, 0.4),rgb(92, 80, 80)
    );
    opacity: 0.77;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgb(145, 140, 140);
}
input
{
    width: 60%;
    height: 10%;
    margin: 2% 10% 3% 20%;
    border-radius: 4px 4px 4px 4px;
}
input:focus
{
    font-size: 28px;
    
}
select
{
    width: 61%;
    height: 10%;
    margin: 2% 10% 3% 20%;
    border-radius: 4px 4px 4px 4px;
    font-size: 20px;

}
label
{
    margin-left: 20%;
    font-size: larger;
    font-weight: 400;
    text-decoration: underline;
}

button
{
    margin-left: 36%;
    font-size: larger;
    font-weight: 400;
    background-color: rgba(187, 153, 153, 0.7);
    width: 30%;
    border-radius: 4px 4px 4px 4px ;

}

button:active
{
    box-shadow: 1px 1px 1px 1px royalblue;
}