*{
    font-family: sans-serif;
}

body
{
    background-color: blue;
}

form
{
    width: 50%;
    height: 70%;
    margin: 4% 25% 10% 25%;
    background: linear-gradient(to left, whitesmoke,rgb(201, 201, 238));
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 2px solid rgb(145, 140, 140);
}
input
{
    width: 60%;
    height: 10%;
    margin: 2% 10% 3% 20%;
    border-radius: 4px 4px 4px 4px;
    font-size: 32px;
    visibility: hidden;
}
label
{
    margin-left: 20%;
    font-size: larger;
    font-weight: 400;
    text-decoration: underline;
}

button
{
    margin-left: 36%;
    font-size: larger;
    font-weight: 400;
    background-color: rgba(187, 153, 153, 0.7);
    width: 30%;
    border-radius: 4px 4px 4px 4px ;
    visibility: hidden;

}

