.menu li a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
}
.head
{
    display: flex;
    flex-direction: row;
}
.logo
{
    display: inline;
    width: 35%;
}

.menu 
{
    list-style-type: none;
    margin-right: 1%;
    display: flex;
    flex-direction:  row-reverse;
    justify-content: space-around;
    margin-left: -44%;
}
.menu li
{
    padding-left: 2%;
}
header
{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: linear-gradient( to right,rgb(236, 235, 235,0.6),rgb(219, 214, 214,0.8));
}
nav
{
    background: linear-gradient(to right, white, rgb(119, 119, 238),rgb(228, 179, 179));
    border-top: 1px solid rgb(160, 156, 156);
}
.nav
{
    padding: 0.1%;
    width: 70%;
    margin-left: 29%;
}
.menu li a:hover
{
    color: white;
}
.menu li a:active
{
    color: red;
    text-decoration: none;
}

.logo a img
{
    max-width: 30%;
    margin: 1% 1% ;
}
div.en_tete
{
    width: 30%;
    text-align: justify;
    float: right;
    margin-right: 35%;
    margin-top: 4%;
    font-family:'Chivo Mono', monospace,sans-serif;
}

.menu li ul
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: justify;
    align-items: left;
    position: relative;
    right: 25%;
    display: none;
}
.menu li ul li
{
    margin-top: 5%;
    border-bottom: 2px solid black;
}
.menu li:hover ul 
{
    display:block ;
    list-style-type: none;
    align-items: left;
    position: relative;
}
nav:hover
{
   background: rgb(95, 95, 173);
}
.menu li:hover ul li a
{
    color: whitesmoke;
}
.menu-search input
{
    display: inline;
    border: 2px solid black;
    width:27%;
    height: 30px;
    margin: -10% 1% 2% 35%;
}
.menu-search input:focus
{
    font-size: 20px;
    font-weight: bold;
}

.menu-search button:hover
{
    color: white;
    background-color: black;
}
.en_tete div
{
    padding-bottom: 1%;
}
.en_tete .info
{
    font-size: 20px;
    font-family:'Chivo Mono', monospace,sans-serif;
}
.en_tete .sec
{
    font-size: 23px;
    font-family:'Chivo Mono', monospace,sans-serif;
}
span.passion
{
    color: blue;
}
span.OBLIGATION
{
    color: red;
}
.menu-search button
{
    display: none;
}
.menu-search input:focus+ button
{
    display: inline;
}




/*----------MEDIA QUERIES-----------------*/

@media screen and (max-width:1220px)
{
    .en_tete 
{
    display: none;
}
.debut
{
    margin-top: 2%;
}
.logo a img
{
    margin: auto;
    max-width: 30%;
}
.logo
{
    margin-bottom: -5%;
    width: 30%;
}
.menu-search
{
    width: 60%;
    position: relative;
    left: 30%;
    top: -60%;
    /* margin-top: -7%; */
}
.menu-search input
{
    margin: -45% 1% 2% 10%;
    width: 60%;
    border: 2px solid black;
    border-radius: 6px;
}
nav
{
    display: none;
}
header
{
    background: linear-gradient(to right,white,blue);
    position: fixed;
    width: 100%;
    top: -10px;
    z-index: 9999;
}

  
}
@media screen and (max-width:660px)
{
    .logo 
    {
        display: block;
        width: 100%;
        height: 10vh;
        margin-top: 2%;
    }
    header
    {
        background: linear-gradient(to right,white,blue);
        position: fixed;
        width: 100%;
        top: -10px;
        z-index: 9999;
    }
    .menu-search 
    {
        margin-top: 10%;
    }
    .menu-search input
    {
        position: relative;
        right: 7%;
        background: linear-gradient(to left,white,rgb(186, 186, 235));
    }
    .menu-search button
    {
        position: relative;
        right: 1%;
    }
    .debut
    {
        margin-top: 2%;
    }
    h1
    {
        margin-top: 25%;
    }
}
@media screen and (max-width:633px)
{
    h1
    {
        margin-top: 30%;
    }
}
@media screen and (max-width:600px)
{
h1
{
    margin-top: 35%;
}
}