
.span{
    color:#a5b4fc;
}
 a img.twitter{
    max-width: 50px;
    border-radius: 70cqmin;
    position: relative;
    left: 20%;
}
img.robbie
{
    max-width: 20%;
}
img.robbie:active
{
    opacity: 0.3;
    box-shadow: 12px 10px 8px black;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #a5b4fc;
    text-shadow: 12px 3px 9px red;
    width: 50%;
    /* border: 2px solid black; */
    margin: auto;
    text-align: center;

}
p
{
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    /* border: 2px solid black; */
    margin: auto;
    text-align: justify;
    margin-bottom: 50px;
    
}
ul
{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #242424;
}
body
{
    background: radial-gradient( white,wheat,white);

}
div{
    background-color: white;
}
p,h2,ul{
    color: black;
}
a:hover
{
    text-decoration: underline;
}
a img.twitter:hover
{
    opacity: 0.4;
}
nav .nav
{
    text-align: right;

}
.nav a{
    padding-left: 5px;
    
}
footer
{
    vertical-align: bottom;
    margin-top: 20%;
    background-color: white;
    padding: 15px 12px;
}
header
{
    padding: 12px 10px 12px 10px;
}
.grid-container .box
{
    /* border: 2px solid black; */
    text-align: center;
     /* width: 300px; */

}
.grid-container .box img
{
    height: 200px;
    /* width: auto; */
}
.grid-container
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 200px 200px 200px;
    gap: 30px;
    background: radial-gradient( white,wheat,white);
}
.one
{
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.two
{
    grid-column-start: 2;
    grid-column-end: 4;
}
.one img
{
    width: 100%;
}
.button
{
    margin-top: 20px;
    display: inline-block;
    margin: 10px 30px 10px 30px;
    color: red;
    background-color: violet;
    padding: 20px 30px 20px 30px;
}
.three:hover
{
    display: flex;
    background-color: red;
    opacity: 0.3;
}
@media screen and (max-width:1000px) 
{
    .grid-container
    {
        display: flex;
        flex-direction: column;

    }
    a 
    {
        display: none;
    }
}